/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #1f1f1f;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
     height:99%;
}

body {
    overflow: -moz-scrollbars-none;  /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

body::-webkit-scrollbar {
    display: none;  /* For Chrome, Safari, and Opera */
}

/* Main Styling */
main {
    color: whitesmoke;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1f1f1f;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
   
}



/* Specific styling to allow scrolling in project page */


body.projects-page {
    display: flex;
    flex-direction: column;
    
}


main.projects-page {
    color: whitesmoke;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #1f1f1f;
    padding: 20px;
    display: flex; /* Use flexbox here */
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Add this to stack the project divs vertically */
    flex: 1;
}





/* Fade-in / Fade-out Effects */
main, h1 {
    opacity: 0;
    transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

main.fade-in, h1.fade-in {
    opacity: 1;
}

main.fade-out, h1.fade-out {
    opacity: 0;
}

/* Text Styling */
h1 {
    font: size 60px;
    padding: 10px;
}

h2 {
    font-size: 60px;
    color: whitesmoke;
}

h3 {
    font-size: 15px;
    color: #e0b34a;
}

.center {
    text-align: center;
}

.yellow {
    color: #e0b34a;
}


.half-text{

    width: 500px;
    text-align: justify;
    float: left;
    padding-right: 50px;
}


.image-right{
    float:right
}

.content {
    flex: 1;
    padding: 20px;
}

/* Header Styling */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #50979a;
    color: #2c2c2c;
    text-align: center;
    padding: 10px;
    z-index: 1000; /* Ensure it stays on top of content */
}

/* Link Styling */
a {
    color: #50979a;
    font-style: italic;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #424242;
    font-style: italic;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e0b34a;
}


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #50979a;
    color: #2c2c2c;
    text-align: center;
    padding: 10px;
    z-index: 1000; /* Ensure it stays on top of content */
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form textarea {
    margin-bottom: 10px;
    padding: 10px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="submit"]:hover {
    background-color: #e0b34a;
}

/* Button Styling */
.submit-btn {
    background-color: #666666;
    color: #2c2c2c;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #e0b34a;
}

.hoverText a{
    color: white;
    text-decoration: none;

}
.hoverText a:hover{

    color: #e0b34a;
}

/* Specific ID Styling */
#index {
    top: 1000px;
}

#soft {
    background-color: #2c2c2c !important;
    padding: 40px;
    border-radius: 30px;
}

#profile-pic {
    float: right;
    width: 300px;
    margin-left: 20px;
    border-radius: 10%;
}

#me-text {
    float: left;
    width: 550px;
    text-align: left;
}





